@use "../styles" as *;
#appMain{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  overflow: hidden;
  width: 100%;
  //margin: 10vh 0 0;
  height: 70vh;
  padding:0 5%;

 // background-color: #1a1a1a;
}
.mainDivWrap{
  //margin-top: 10vh ;
}

.actionButton{
  @include hover-effect();
  width: fit-content;
  padding: .2rem;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  //height: 10vh;
  width: 100%;
}

//.bordered {
//  position: relative;
//  padding: 2em;
//  border: 1px solid #000;
//  margin: 1em 0;
//
//  .title {
//    position: absolute;
//    top: -0.5em;
//    left: 10px;
//    background: #fff;
//    padding: 0 10px;
//    font-size: 0.9em;
//  }
//}
