//app-tool-selector
@use "../../../styles" as *;
// Tool selector colors
$tool-bg-color: rgba(0, 0, 0, 0.7);
$tool-hover-color: #646464;
$tool-border-color: $primary-color;  // from global styles.scss
$tool-shadow: 2px 2px 5px rgba(0,0,0,0.3);
$tool-transition: all 0.3s ease;

@mixin tool-box {
  background: $tool-bg-color;
  border: 2px solid $tool-border-color;
  box-shadow: $tool-shadow;
  transition: $tool-transition;
}
@mixin tool-hover {
  &:hover {
    background: $tool-hover-color;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
}


.tool-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: $spacing-medium;  // from global styles.scss
  .tool-item {
    @include tool-box;
    @include tool-hover;
    height: 100px; // Or any needed value
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include respond-to(mobile) {
  .tool-selector {
    grid-template-columns: 1fr;
    .tool-item {
      margin-bottom: $spacing-medium;
    }
  }
}
